<style>
body{
	background: #000;
	color:#F5F5F5;
	margin:0;
	padding:0;
	width:100%;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	width: 100%;
	clear:both;
	background: #FFF:
	display: table-header;
}
pre{
	overflow: hidden;
	word-break: break-word;
	font-size: 12px;
	/*
	width: 27%;
	padding-left:1%;
	*/
	/*display: inline-block;*/
	display: table-cell;
	vertical-align: top;
	background: #111;
	width:30%;
	max-width: 30;
	border-bottom: 1px solid #999;
}
.torrent-header{
	color: #9FC542;
	background: #444;
	font-weight: 900;
	padding: 20px 0px;
	width: 100%;
}
.torrent-sub-header{
    color: #ABABAB;
    background: #222;
    font-weight: 400;
    /*display: inline-block;*/
	display: table;
    font-size: 16px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}
</style>
